<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
  num1: "1",
  num2: "2",
  result: 2,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>

<template>
  <div class="card">
    <div id="app">
      <div>
        <input
          type="text"
          ref="num1"
          v-model="state.num1"
          class="center_text"
        />
      </div>
      <div class="setsize bolder">+</div>
      <div>
        <input
          type="text"
          ref="num2"
          v-model="state.num2"
          class="center_text"
        />
      </div>
      <div>
        <button class="center_text width50" @click="doAdd()">=</button>
      </div>
      <div class="setsize" ref="result">{{ state.result }}</div>
      <div class="setsize">{{ state.num1 }}+{{ state.num2 }}={{ result }}</div>
    </div>
  </div>
</template>

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 250px;
  text-align: center;
  margin: auto auto;
  font-family: naruke;
}
.setsize {
  font-size: 25px;
  font-family: naruke;
}
.center_text {
  text-align: center;
  width: 80%;
  font-size: 20px;
  margin: 3px;
  font-family: naruke;
}

.bolder {
  font-weight: bolder;
  font-family: naruke;
}

.body {
  border-style: solid;
  padding: 3px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  margin: 3px;
  font-family: naruke;
}

.width50 {
  width: 50px;
  font-family: naruke;
}
</style>
