<script setup lang="ts">
import { ref } from "vue";
const message = ref("My name is Kittipon");
function reverseMessage() {
  console.log("call reverse message");
  message.value = message.value.split("").reverse().join("");
  return message;
}
function notify() {
  alert("naviagtion was prevented");
}
</script>
<template>
  <h1>{{ message }}</h1>
  <button @click="reverseMessage">Reverse Message</button>
  <button
    @click="
      {
        {
          message += ' ! ';
        }
      }
    "
  >
    Append "!"
  </button>
  <a href="https://vuejs.org" @click.prevent="notify"
    >A link with e.preventDefault</a
  >
</template>
<style scoped>
button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

a {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  font-family: naruke;
}
</style>
