<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello world!");
</script>
<template>
  <h1>{{ message }}</h1>
</template>
<style>
h1 {
  text-align: center;
  font-family: naruke;
}
</style>
