<script setup lang="ts">
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributedBindding from "./components/AttributedBindding.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div class="body">
    <AttributedBindding></AttributedBindding>
    <HandlingUserInput></HandlingUserInput>
    <CalComponent></CalComponent>
    <HelloWorldExample></HelloWorldExample>
    <ConditionAndLoops></ConditionAndLoops>
    <FormBinding></FormBinding>
    <SimpleComponent> </SimpleComponent>
  </div>
</template>

<style>
.body {
  width: 90%;
  display: block;
  margin: auto auto;
}
</style>
